@import 'variaveis';

.breadcrumb-cat{
  text-align: left;
  text-align: left;
  padding: 13px 0;
  p{
    font-size: 12px;
    color: $font-color-black;
  }
}

.arrow-bread{
  background: #1D1D1B 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 5px;
  height: 8px;
  transform: matrix(0, -1, 1, 0, 0, 0);
}
.lista-produtos{
  margin-right: 0;
  margin-left: 0;
}


.box-produto{
  color: $font-color-black;
  padding-left: 0;
  padding-right: 0;
}

.box-info-produto{
  padding: 20px;
  text-align: left;
}

.nome-produto{
  font-size: 13px;
  font-weight: lighter;
  margin-top:10px;
}
.valor-produto{
  margin-top: 10px;
}
.valor-total{
  font-size: 13px;
  font-weight: bold;
}

.valor-parcelado{
  font-size: 13px;
}

.btn-produto{
  margin-top: 10px;
  a{
    width: 104px;
    height: 24px;
    border: solid 1px #000;
    font-size: 12px;
    color: $font-color-black;
    text-decoration: none;
    padding: 5px;
  }
  :hover{
    color: $font-color-black;
  }
}