@import 'variaveis';

.container-header{
  width: 100%;
}
.header-backgound{
  height: 140px;
  border-bottom: 1px solid #000;
}
.box-logo{
  padding-top: 34px;
}
.logo{
  font-size: 28px;
  font-weight: lighter;
  
  color:$font-color-black ;
}
.nav{
  padding-top: 32px;
  position: relative;
}

.menu-usuario, .menu-servico{
  position: absolute;
  top: 40px;
  z-index: 4;
  height: 23px;
  width: 220px;
}
.menu-usuario{
  padding-right: 45px;
  right: 0;
}
.menu-servico{
  padding-left: 45px;
  left: 0;
}
.menu-loja{
  position: absolute;
  width: 100%;
}

.menu-servico, .menu-usuario{
  ul{

  }
  li{
    display: inline-block;
    padding-left: 10px;
  }
  a{
    
  }

}

.menu-loja{
  
}
.menu-loja{
  ul{

  }
  li{
    display: inline-block;
  }
  a{
    font-size:$nav-font-size;
    color: $font-color-black;
    padding: 20px 10px;
    margin: 0 auto
  }
  img{
    vertical-align: -9px;
  }

}