@import 'variaveis';



.box-50-right{
  width: 50%;
  float: right;
}

.second-banner-main{
  width: 100%;
  margin-bottom: -3px;
  height: 40vw;
  background: #000;
  position: relative;
}
.box-text-second-banner{
  position: absolute;
  top: 50%;
  left: 32%;
  width: 212px;
  height: 106px;
  h3{
    font-size: 20px;
    text-align: right;
    color: $font-color-padrao;
  }
  p{
    font-size: 11px;
    text-align: right;
    padding-top: 6px;
  }
  a{
    display: block;
    font-size: 10px;
    text-align: right;
    padding-top: 6px;
    color: $font-color-padrao;
    &:hover{
      text-decoration: none;
      color: $font-color-padrao;
    }
  }
}
.banner-main{
  width: 100%;
  margin-bottom: -3px;
}

.bg-banner{
  background: $font-color-black;

}