.container-header {
  width: 100%; }

.header-backgound {
  height: 140px;
  border-bottom: 1px solid #000; }

.box-logo {
  padding-top: 34px; }

.logo {
  font-size: 28px;
  font-weight: lighter;
  color: #000; }

.nav {
  padding-top: 32px;
  position: relative; }

.menu-usuario, .menu-servico {
  position: absolute;
  top: 40px;
  z-index: 4;
  height: 23px;
  width: 220px; }

.menu-usuario {
  padding-right: 45px;
  right: 0; }

.menu-servico {
  padding-left: 45px;
  left: 0; }

.menu-loja {
  position: absolute;
  width: 100%; }

.menu-servico li, .menu-usuario li {
  display: inline-block;
  padding-left: 10px; }

.menu-loja li {
  display: inline-block; }
.menu-loja a {
  font-size: 12px;
  color: #000;
  padding: 20px 10px;
  margin: 0 auto; }
.menu-loja img {
  vertical-align: -9px; }

/*# sourceMappingURL=header.css.map */
