html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

body {
  font-family: "Futura Lt BT", Helvetica, Arial, sans-serif;
  color: #fff; }

.container-header {
  width: 100%; }

.header-backgound {
  height: 140px;
  border-bottom: 1px solid #000; }

.box-logo {
  padding-top: 34px; }

.logo {
  font-size: 28px;
  font-weight: lighter;
  color: #000; }

.nav {
  padding-top: 32px;
  position: relative; }

.menu-usuario, .menu-servico {
  position: absolute;
  top: 40px;
  z-index: 4;
  height: 23px;
  width: 220px; }

.menu-usuario {
  padding-right: 45px;
  right: 0; }

.menu-servico {
  padding-left: 45px;
  left: 0; }

.menu-loja {
  position: absolute;
  width: 100%; }

.menu-servico li, .menu-usuario li {
  display: inline-block;
  padding-left: 10px; }

.menu-loja li {
  display: inline-block; }
.menu-loja a {
  font-size: 12px;
  color: #000;
  padding: 20px 10px;
  margin: 0 auto; }
.menu-loja img {
  vertical-align: -9px; }

.menu-drop {
  position: absolute;
  height: 302px;
  background-color: #F4F4F4;
  color: #000;
  left: 0;
  width: 100%;
  margin-top: 20px;
  overflow: hidden; }

.mouseEnter {
  display: block; }

.mouseLeave {
  display: none; }

.display-list {
  width: 120px;
  display: inline-block; }

.display-box-list {
  display: inline-block; }

.container-inner-menu {
  text-align: left;
  padding: 35px 200px;
  width: 100%;
  min-height: 302px; }

.container-inner-menu h4 {
  font-weight: 600;
  padding-bottom: 15px; }
.container-inner-menu .lista-cat li {
  display: block;
  padding: 6px 0;
  width: 125px; }
  .container-inner-menu .lista-cat li a {
    font-size: 11px; }

.alinhamento-colun {
  vertical-align: top; }

.box-50-right {
  width: 50%;
  float: right; }

.second-banner-main {
  width: 100%;
  margin-bottom: -3px;
  height: 40vw;
  background: #000;
  position: relative; }

.box-text-second-banner {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 212px;
  height: 106px; }
  .box-text-second-banner h3 {
    font-size: 20px;
    text-align: right;
    color: #fff; }
  .box-text-second-banner p {
    font-size: 11px;
    text-align: right;
    padding-top: 6px; }
  .box-text-second-banner a {
    display: block;
    font-size: 10px;
    text-align: right;
    padding-top: 6px;
    color: #fff; }
    .box-text-second-banner a:hover {
      text-decoration: none;
      color: #fff; }

.banner-main {
  width: 100%;
  margin-bottom: -3px; }

.bg-banner {
  background: #000; }

/*# sourceMappingURL=index.css.map */
