.box-50-right {
  width: 50%;
  float: right; }

.second-banner-main {
  width: 100%;
  margin-bottom: -3px;
  height: 40vw;
  background: #000;
  position: relative; }

.box-text-second-banner {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 212px;
  height: 106px; }
  .box-text-second-banner h3 {
    font-size: 20px;
    text-align: right;
    color: #fff; }
  .box-text-second-banner p {
    font-size: 11px;
    text-align: right;
    padding-top: 6px; }
  .box-text-second-banner a {
    display: block;
    font-size: 10px;
    text-align: right;
    padding-top: 6px;
    color: #fff; }
    .box-text-second-banner a:hover {
      text-decoration: none;
      color: #fff; }

.banner-main {
  width: 100%;
  margin-bottom: -3px; }

.bg-banner {
  background: #000; }

/*# sourceMappingURL=main-page.css.map */
