.menu-drop {
  position: absolute;
  height: 302px;
  background-color: #F4F4F4;
  color: #000;
  left: 0;
  width: 100%;
  margin-top: 20px;
  overflow: hidden; }

.mouseEnter {
  display: block; }

.mouseLeave {
  display: none; }

.display-list {
  width: 120px;
  display: inline-block; }

.display-box-list {
  display: inline-block; }

.container-inner-menu {
  text-align: left;
  padding: 35px 200px;
  width: 100%;
  min-height: 302px; }

.container-inner-menu h4 {
  font-weight: 600;
  padding-bottom: 15px; }
.container-inner-menu .lista-cat li {
  display: block;
  padding: 6px 0;
  width: 125px; }
  .container-inner-menu .lista-cat li a {
    font-size: 11px; }

.alinhamento-colun {
  vertical-align: top; }

/*# sourceMappingURL=menu-header.css.map */
